@import "@/styles/core/variables";
/* ============================================
   Base reset
   ============================================ */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============================================
   Document
   ============================================ */

html,
body {
  color: $color-text;
  background: $color-bg;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ============================================
   Links
   ============================================ */

a {
  color: inherit;
  text-decoration: none;
}

/* ============================================
   Layout
   ============================================ */

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  overflow: hidden;

  @media (max-width: $breakpoint-lg) {
    grid-template-columns: auto 1fr;
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}