.btnIcon {
    @extend %button-base;
    transition: transform 0.1s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.btnLogin {
    @extend %button-base;
    padding: $spacing-md $spacing-lg;
    font-size: $font-size-xl;
    position: relative;
    width: 100%;

    background: linear-gradient(to top,
            #3e8c8d, //! To Be Change
            #56a1a2); //! To Be Change

    opacity: 1;
    transition: opacity 0.2s ease, transform 0.1s ease;

    &::before {
        content: "";
        position: absolute;
        border-radius: $radius-sm;
        inset: -2px;

        background: linear-gradient(to top,
                #448586, //! To Be Change
                #8abebe); //! To Be Change
        z-index: -1;
    }

    &:active {
        transform: scale(0.95);
    }

}

.btnSocialLogin {
    @extend %button-base;
    padding: $spacing-md $spacing-lg;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid;
    border-color: rgba($color-border, 0.8);

    transition: background 0.2s ease, transform 0.1s ease;

    @media (max-width: $breakpoint-sm) {
        padding: $spacing-sm $spacing-sm;
    }

    svg {
        transition: opacity 0.2s ease, transform 0.1s ease;

        @media (max-width: $breakpoint-sm) {
            padding: $spacing-sm $spacing-sm;
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, .3);

        svg {
            transform: scale(1.1);
        }
    }
}